body {
  color: #fff;
  background: rgb(0,170,205);
  background: linear-gradient(90deg,rgba(50,18,151,1) 0%, rgba(0,170,205,1) 130%);
  font-size: 20px;
  font-family: 'Ubuntu';
  font-weight: 400;
  word-wrap: break-word;
  
}

.body-home {
  color: #212121;
  background-color: #fff;
  font-size: 20px;
  font-family: 'Ubuntu';
  font-weight: 400;
  word-wrap: break-word;
}

.margin-align-row {
  margin-right: 210px;
}

.card-title, .card-subtitle, .card-text {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 1.0em;
}

.paginate-align {
  text-align: center;
}

.margin-jumbo-blocks {
  margin-top: -15px;
}

.text-size-data {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 1.0em;
}

.color-transac {
  color: #212121;
  background-color: #fff;
}

.jumbotron {
  background-color: #fff;
  margin: 30px auto;
}

.card-body {
  border: 10px #000;
  background-color: #f0f0f0;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.margin-top-block {
  margin-top: 50px;
}

.margin-nav-conduct {
  margin-top: -160px;
}

.margin-nav-transac {
  margin-top: -10px;
}

.margin-transac-inicial {
  margin: -10px;
}

.margin-blocks-inicial {
  margin-top: -50px;
}

.margin-transac {
  margin-top: 30px;
}


h1 {
  font-weight: 600;
  font-size:2.6em;
  letter-spacing: -3px;
}

h3 {
  font-weight: 300;
  font-size:1.2em;
  letter-spacing: -1px;
}

h2 {
  font-weight: 500;
  font-size:2.0em;
  letter-spacing: -2px;
}

.margin-h3 {
  margin-top: -3px;
}

.logo {
  width: 40%;
  margin-top: 100px;
  margin-right: 715px;
  position: relative;
}

.logoNav {
  width: 12%;
  margin-top: 40px;
}

.lateral {
  height: 732px;
  margin-top: -94px;
  padding-left: 218px;
  background-size: cover;
  background-position: right; 
  z-index: -1;
}

.margin-content {
  margin-top: -500px;
}

.margin-nav {
  margin-top:-15px;
}

.WalletInfo {
  width: 500px;
}

.Block {
  border: 1px solid #fff;
  padding: 5%;
  margin: 2%;
}

.Transaction {
  padding: 5%;
}

.ConductTransaction {
  margin: 10%;
}

.Card {
  border: 1px solid;
  background-color: #f0f0f0;
}

.navbar-nav{
  
  float: right;
  list-style-type: none;
  text-decoration: none;
  margin-top: 15px;
}

.navbar-nav a{
  text-decoration: none;
  color: #fff;
  padding-left: 25px;
}

.nav-link {
  font-size:17px;
}


.btn {
  margin-right: 15px;
  padding: 15px;
  font-family: 'Ubuntu';
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }
  

.btn:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.wrap {
  height: 100%;
  display: flex;
}

.btn-color-1{
  background-color: #00e3e1;
}

.btn-color-2{
  background-color: #00649e;
}

.btn-color-3{
  background-color: #480589;
}

.btn-color-4 {
  background-color: rgba(50,18,151,1);
}

.btn-submit {
  vertical-align: middle;
}

.btn-blocks {
  margin-top: 10px;
}